<%- include('head') %>

    <div class="jumbotron text-center" style="background-image: url(/images/1.png);
    height: 100vh;">

        <div class="glass">
            <div class="container" style="height:10%;"></div>
            <div class="container">
                <img src="/images/mainhead.png" alt="" style="
        object-fit: cover;
        height: 100%;
        width: 60%;"></div>
            <div class="container">
                <h1 class="display-2 use-heading">Use AI to Boost your</h1>
                <span class="text text-center"></span>
            </div>
            <div class="container input">

                <form action="" method="post" style="display: flex;
justify-content: space-between;
width: 100%;">
                    <input type="text" placeholder="Start typing to search..." style="height: 100%;width: 90%;border-radius: 50px;outline: none;border: none;padding: 20px;" name="entry">
                    <button style="
  background-color: black;
  color: white;
  padding: 0 18px;
  border: none;
  border-radius: 50%;
"><img src="/images/logo.png" alt="" style="width: 25px;"></button>
                </form>



                <%- include('footer') %>
